/* 3.1 | MOBILE MEDIA QUERY */

@media screen and (max-width: 768px) {
  /*Règles mobiles*/

  html {
    height: 250%;
  }

  body {
    width: 100%;
    height: auto;
  }

  .main-container {
    width: 100%;
    height: 89%;
    margin: 0;
  }

  /* HEADING */

  .heading {
    width: 100%;
    height: 100%;
  }

  /* LOGO AND LINKS */

  a:hover {
    border-top: #0065fc 3px solid;
    color: #0065fc;
  }

  .logo-and-links {
    width: 100%;
    height: 18%;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: unset;
    margin: unset;
    padding: unset;
  }

  /* LOGO */

  .logo {
    position: relative;
    left: 37.5%;
    justify-content: center;
    width: 25%;
  }

  /* LINKS */

  .normal-link {
    margin: auto;
  }

  #search-click {
    border-radius: 17px;
  }

  .nav-size-pos {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  }

  ul {
    grid-gap: 0;
    gap: 0;
  }

  .ul-links {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  }

  .link {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 4px solid #f2f2f2;
    border-top: 0;
    margin: auto;
  }

  .link:hover {
    border-bottom: 4px solid #0065fc;
    border-top: 0;
  }

  a:hover {
    border-top: 0;
  }

  /* TEXT-ONLY */

  .text-only {
    height: 21%;
    padding-left: 5%;
  }

  /* FORM */

  .search {
    height: 9%;
    padding-left: 5%;
    padding-top: 1%;
  }

  .map-marker-radius {
    width: 50px;
  }

  #site-search {
    width: auto;
  }

  #form {
    width: 95%;
    display: flex;
    justify-content: center;
  }

  /* SEARCH BLUE BUTTON */

  .flex-a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: center;
    cursor: pointer;
  }

  .search-button {
    border-radius: 17px;
    transform: translate(-50%);
  }

  #search-click {
    display: none;
  }

  #search-click-mobile {
    display: flex;
    justify-content: center;
  }

  .fas.fa-search {
    width: 48px;
    height: 48px;
    color: #fff;
    line-height: 2;
    font-size: 24px;
    font-weight: 900;
    background-color: #0065fc;
    border-color: #0065fc;
    border-radius: 17px;
  }

  /* 2.1.4 FILTERS AND INFORMATIONS*/

  /* 2.1.4.1 FILTERS */

  .filters-flex-position {
    width: 100%;
    height: 39%;
    display: flex;
    flex-flow: row wrap;
    padding-left: 5%;
  }

  .filters-word {
    width: 90%;
    justify-content: start;
  }

  .rounded-filters {
  }

  .informations {
    height: 11%;
    padding-left: 5%;
    padding-right: 5%;
  }

  /* LODGING AND POPULARS */

  .lodg-and-pop {
    display: flex;
    flex-flow: column-reverse nowrap;
  }

  /* 2.1.6 | LODGING */

  .lodg {
    background-color: #fff;
  }

  .lodg-text-over {
    height: 13%;
    background-color: #fff;
  }

  .left-border-radius {
    margin-top: 1%;
  }

  .left-center {
    width: 100%;
    background-color: #fff;
    border-radius: 0;
    margin-top: 25px;
    padding-bottom: 3.5vh;
  }

  .sixth {
    background-color: #fff;
  }

  .fig-width {
    width: 100%;
    /* justify-content: space-between; ou space-evenly*/
    gap: 1vw;
    box-shadow: 8px 8px 8px grey;
    border-radius: 17px 17px 17px 17px;
    border: 3px solid white;
    box-sizing: border-box;
    background-color: white;
    margin: 2.25%;
    overflow: hidden;
  }

  /* 2.1.7 | MOST POPULARS */

  aside {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  .aside-top {
    width: 90%;
    height: auto;
  }

  .aside-size {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column-reverse nowrap;
  }

  .aside-cards-column {
    width: 100%;
    height: auto;
  }

  .aside-card-self {
    width: 100%;
    height: auto;
  }

  .sixth {
    text-align: left;
  }
  .medium-text {
    text-align: center;
    font-size: 16px;
    margin-left: 10%;
  }

  .fas.fa-chart-line {
    width: 0%;
    font-size: 24px;
    margin-top: 5%;
  }

  .set-chart-line {
    width: 30%;
  }

  .aside-top {
    padding-top: 5%;
  }

  .aside-card-self {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
  }

  /* 2.1.8 | ACTIVITIES */
}
