/* 3.1 | MOBILE MEDIA QUERY */

@media screen and (max-width: 768px) {
  /*Règles mobiles*/

  html {
    height: 100%;
  }

  body {
    height: auto;
  }

  .main-container {
    width: 100%;
    height: auto;
    margin: 0;
  }

  /* HEADING */

  .heading {
    width: 100%;
    height: auto;
  }

  /* LOGO AND LINKS */

  a:hover {
    border-top: #0065fc 3px solid;
    color: #0065fc;
  }

  .logo-and-links {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: unset;
    margin: unset;
    padding: unset;
  }

  /* LOGO */

  .logo {
    padding: 0;
    width: 25%;
    height: 25%;
    position: relative;
    left: 37.5%;
    justify-content: center;
  }

  /* LINKS */

  .normal-link {
    margin: auto;
  }

  .nav-size-pos {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  }

  ul {
    grid-gap: 0;
    gap: 0;
  }

  .ul-links {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  }

  .link {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 4px solid #f2f2f2;
    border-top: 0;
    margin: auto;
  }

  .link:hover {
    border-bottom: 4px solid #0065fc;
    border-top: 0;
  }

  a:hover {
    border-top: 0;
  }

  /* 2.1.2 | HEADING : SLOGAN */

  .text-only {
    height: auto;
    padding-left: 5%;
  }

  /* 2.1.3 | HEADING : SEARCH */

  .search {
    height: auto;
    padding-left: 5%;
    padding-top: 1%;
  }

  .map-marker-radius {
    width: 50px;
  }

  #site-search {
    width: auto;
  }

  #form {
    width: 95%;
    display: flex;
    justify-content: center;
  }

  /* SEARCH BLUE BUTTON */

  .flex-a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: center;
    cursor: pointer;
  }

  .search-button {
    border-radius: 17px;
    transform: translate(-50%);
  }

  #search-click {
    display: none;
  }

  #search-click-mobile {
    display: flex;
    justify-content: center;
  }

  .fas.fa-search {
    width: 48px;
    height: 48px;
    color: #fff;
    line-height: 2;
    font-size: 24px;
    font-weight: 900;
    background-color: #0065fc;
    border-color: #0065fc;
    border-radius: 17px;
  }

  /* 2.1.4 FILTERS AND INFORMATIONS*/

  /* 2.1.4.1 FILTERS */

  .filters-flex-position {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    padding-left: 5%;
  }

  .filters-word {
    width: 90%;
    justify-content: start;
  }

  .rounded-filters {
    margin: 5px 5px 5px 0;
  }

  /* 2.1.4.2 INFORMATIONS */

  .informations {
    height: auto;
    padding: 10px 5% 15px 5%;
  }

  /* 2.1.5 AND 2.1.6 | CONTAINER : LODGING CONTAINER & MOST POPULARS */

  .lodg-and-pop {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column-reverse nowrap;
  }

  /* 2.1.6 | LODGING */

  .lodg {
    width: 100%;
    height: auto;
    background-color: #fff;
  }

  .lodg-text-over {
    width: 100%;
    height: 60px;
    background-color: #fff;
  }

  .medium-text {
    margin-left: 3%;
    font-size: 24px;
    text-align: left;
  }

  #little-text {
    font-size: 18px;
    padding-left: 5%;
  }

  .six-cards-center {
    height: auto;
  }

  .lodg-text-under {
    width: 100%;
    height: 60px;
    background-color: #fff;
  }

  .left-border-radius {
    margin-top: 1%;
  }

  .fig-width {
    width: 100%;
    height: 230px;
    border-radius: 17px 17px 17px 17px;
  }

  .bold {
    font-size: 18px;
  }

  .small {
    font-size: 16px;
  }

  /* 2.1.7 | MOST POPULARS */

  aside {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  .aside-top {
    width: 90%;
    height: auto;
    margin-left: 0;
  }

  .aside-size {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column-reverse nowrap;
  }

  .aside-cards-column {
    width: 100%;
    height: auto;
  }

  .aside-card-self {
    width: 100%;
    height: auto;
  }

  .fas.fa-chart-line {
    width: 0%;
    font-size: 24px;
    margin-top: 5%;
  }

  .set-chart-line {
    width: 30%;
  }

  .aside-top {
    padding-top: 5%;
  }

  .aside-card-self {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
  }

  /* 2.1.8 | ACTIVITIES */

  .act {
    width: 100%;
    height: auto;
    padding: 0 0 50px 0;
  }

  .act-title-height {
    width: 100%;
    height: 50px;
  }

  .title-activities {
    padding-left: 5%;
  }

  .act-block-cards {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 0;
  }

  .act-quarter {
    width: 90%;
    height: 200px;
    margin: 20px;
  }

  .column-in-row {
    width: 90%;
    height: 440px;
    margin: 20px;
  }

  #act-size-first {
    width: 100%;
    height: 200px;
  }

  #act-size-second {
    width: 100%;
    height: 200px;
  }

  #act-size-third {
    width: 100%;
    height: 200px;
  }

  #act-size-forth {
    width: 100%;
    height: 200px;
  }

  /* 2.2 | SECONDARY CONTAINER */

  .secondary-container {
    width: 100%;
    height: auto;
  }
  /* 2.2.1 | FOOTER */

  footer {
    display: flex;
    flex-flow: column nowrap;
  }

  .footer-pad {
    padding-bottom: 6%;
    font-size: 22px;
  }

  .footer-font {
    padding-bottom: 5%;
    font-size: 20px;
  }
}
