

/* INDEX

1 || GLOBAL SETTINGS
    1.1 | GENERAL PAGE LAYOUT
    1.2 | CARD DESIGN
    1.3 | CARD SHADOW ANIMATION
    1.4 | STARS PROPERTIES

2 || DESKTOP LAYOUT
    2.1 | MAIN CONTAINER
        2.1.1 | HEADER  : NAVIGATION MENU
        2.1.2 | SECTION : SLOGAN
        2.1.3 | SECTION : SEARCH
        2.1.4 | SECTION : FILTERS & INFORMATIONS
        2.1.5 | CONTAINER : LODGING
        2.1.6 | CONTAINER : MOST POPULARS
        2.1.7 | ACTIVITIES
    2.2 | SECONDARY CONTAINER
        2.2.1 | FOOTER

3 || MEDIA QUERIES SPECIFIC RULES
    3.1 | TABLET MEDIA QUERY
    3.2 | MOBILE MEDIA QUERY


Tip: you can jump to a specific section by searching for index name or id. ex : [CTRL + F] "3 ||" or [CTRL + F] "2.1.7 |"

*/

/* 1 || GLOBAL SETTINGS */

    /* 1.1 | GENERAL PAGE LAYOUT */

/* @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); */

html {
}

body {
    width: 100%; /* "fallback > width: 99.4%; */
    /* un % doit avoir une largeur parent fixe */
    height: 100%;
    margin: 0;
    padding: 0;
	line-height: 1;
    display:flex;
    }


* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Arial , "Arial Black" , Courier New, Helvetica, sans-serif;
	font-size: 100%;
}

/* And Cf: normalize.css */

/* ( Not all the ) Alphabetic semantic tags */

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0065fc;
}

article {
    display: flex;
    align-items: flex-end;
    background-color: white;
}

article, details, hgroup, menu {
    display: flex;
    margin: 0;
	padding: 0;
	display: block;
    flex-direction: column;
    
}

b {
    font-weight: bold;
}

blockquote, q {
    margin: 0;
	padding: 0;
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    margin: 0;
	padding: 0;
	content: '';
	content: none;
}

button {
    margin: 0;
	padding: 0;
    background-color:#0065fc;
}

button:hover{

}

div, section, header {
    text-decoration: none;
}

form, input {
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
}

header {
    margin: 0;
	padding: 0;
    display: flex;
    background-color: white;
}


image {
    width: 20%;
    height: 20%;
    object-fit: cover;
}


li {
    margin: 0;
	padding: 0;
    display: flex;
	list-style-type: none;
}

ol {
    margin: 0;
	padding: 0;
    display: flex;
    grid-gap: 15px;
    gap: 15px;
	list-style-type: none;
}

p::first-letter{
    font-style: unset;
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

span {
}

ul {
    margin: 0;
	padding: 0;
    display: flex;
    grid-gap: 15px;
    gap: 15px;
	list-style-type: none;
}

/* 1.4 | STARS PROPERTIES */

.fas.fa-star.blue-star {
    display: inline-block;
    height: 22px;
    color: #0065fc;
    background-color: white;
    font-size: 12px;
}

.fas.fa-star.grey-star {
    display: inline-block;
    height: 22px;
    color: grey;
    background-color: white;
    font-size: 12px;
}

/* 1.2 | CARD DESIGN */
/* /_\ work in progress /_\ */

/* 1.3 | CARD SHADOW ANIMATION */
/* /_\work in progress /_\ */

/* 2.1.1 | HEADER  : NAVIGATION MENU */

.heading {
    width: 100%;
    height: 23%;
}

.logo-and-links {
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 0 4% 0 2.25%;
}

/* LINKS */

.nav-size-pos {
    display: flex;
    flex-flow: row nowrap;
}

nav ul{
    display: flex;
    list-style-type: none;
}

.ul-links {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    align-content: flex-end;
}

.link {
    text-align: center;
    padding: 40px 15px 15px 15px;
    border-top: 2px solid #fff;
}

.link:hover {
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

.normal-link {
    font-weight: bold;
}


/* 2.1.2 | SECTION : SLOGAN */

.text-only {
    width: 100%;
    height: 31%;
    padding: 0 2.5% 0.5% 2.5%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    background-color: white;
}

h1 {
    font-weight: 700;
    font-size: 26px;
    padding: 25px 0;
}

h2 {
    padding: 0 10px 10px 0;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0.3em;
}


/* 2.1.3 | SECTION : SEARCH */

/* Icone and input */

.search {
    width: 100%;
    height: 14.5%;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding-left: 2.5%;
}

#form {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}

.map-marker-radius {
    width: 50px;
    height: 50px;
    display: flex;
    background-color: #F2F2F2;
    border: 3px solid;
    border-color: #F2F2F2;
    border-radius: 17px 0 0 17px;
}

.fas.fa-map-marker-alt{
    width: 50px;
    height: 50px;
    display: flex;
    align-self: center;
    justify-content: center;
    font-weight: 900;
    background-color: #F2F2F2;
    border: 3px solid;
    border-color: #F2F2F2;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

.span-center {
    display: flex;
    align-items: center;
    justify-items: center;
}

input[type="search"] {
    color: black;
    font-size: 16px;
    font-weight: 900;
}

#search-click {
    width: 150px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 3;
    justify-content: center;
}

.search-border-mobile {
    display: none;
}

.search-border {
    border: 1px solid #0065FC;
    border-radius: 0 17px 17px 0;
}

.flex-a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#site-search {
    margin: 0;
    width: 250px;
    height: 50px;
}

/* Search Blue button */

#search-click {
    width: 150px;
    height: 48px;
}

#search-click-mobile {
    width: 50px;
    height: 48px;
    display: none;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 17px 17px 0;
    cursor: pointer;
}

/* 2.1.4 FILTERS AND INFORMATIONS*/

/* 2.1.4.1 FILTERS */

.filters-flex-position {
    width: 100%;
    height: 18%;
    display: flex;
    flex-flow: row nowrap;
    padding: 1.1% 0 1.1% 2.75%;
    gap: 1%;
}

.filters-text {
    align-content: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 20px;
    padding: 16px 14px;
    color: black;
}

.filters-text:hover {

}

.filters-word {
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border: 3px solid;
    border-color: #fff;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
}

.rounded-filters {
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border: 3px solid;
    border-color: #F2F2F2;
    border-radius: 30px;
    font-size: x-large;
    cursor: pointer;
}

.fas.fa-money-bill-wave {
    width: 50px;
    height: 50px;
    display: flex;
    align-self: center;
    justify-content: center;
    color : #0065fc;
    background-color: #deebff;
    border-radius: 50%;
    margin-left: -8px;
    line-height: 2;
}

.fas.fa-child {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    color : #0065fc;
    background-color: #deebff;
    border-radius: 50%;
    margin-left: -8px;
    line-height: 2;
}

.fas.fa-heart {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    color : #0065fc;
    background-color: #deebff;
    border-radius: 50%;
    margin-left: -6px;
    line-height: 2;
}

.fas.fa-dog {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    color : #0065fc;
    background-color: #deebff;
    border-radius: 50%;
    margin-left: -7px;
    line-height: 2;
}

/* 2.1.4.2 INFORMATIONS */

.informations {
    width: 100%;
    height: 14.5%;
    display: flex;
    align-items: stretch;
    flex-flow: row nowrap;
    background-color: white;
    padding: 1.1% 0 1.1% 3%;
}

.info-size {
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
}

.fas.fa-info {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;
    font-size: 16px;
}

.info-text {
    line-height: 1.8;
    font-weight: 500;
    padding-left: 10px;
}


/* 2.1.5 AND 2.1.6 | CONTAINER : LODGING CONTAINER & MOST POPULARS */

.central-section {
    width: 100%;
    height: 55%;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    background-color: rgb(255, 255, 255);
}

/* 2.1.5 | CONTAINER : LODGING */

.left-center{
    width: 66%;
    height: 85%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    background-color: #F2F2F2;
    border-radius: 17px 17px 17px 17px;
    overflow: hidden;
}

.six-cards-center {
    width: 100%;
    height: 75%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.photo-left-center {
    width: 100%;
    height: 100%;
    display: block;
    border: 10px white;
    border-radius: 17px 17px 0 0;
    background-color: white;
}

.full-size {
    width: 100%;
    height: 100%;
}

.higher-size {
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.fig-width {
    width: 27%;
    /* max-width: 235px; */
    height: 15%;
    /* max-height: 235px; */
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    /* justify-content: space-between; ou space-evenly*/
    box-shadow: 8px 8px 8px grey;
    border-radius: 17px 17px 17px 17px;
    border: 3px solid white;
    box-sizing: border-box;
    background-color: white;
    margin: 2.25%;
    gap: 1vw;
    overflow: hidden;
}

.sixth {
    width: 100%;
    height: 7.5%;
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
}

.medium-text {
    margin-left: 5%;
    font-size: 22px;
    font-weight: 900;
}


#little-text {
    font-size: 16px;
    font-weight: 700;
    padding-left: 5.5%;
}

.cont-img {
    width: 100%;
    overflow: hidden;
}

.heb-marseille-img {
    /*background-size: 100%;*/
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    /*background-size: 300px;*/
    border-top  : 10px white;
    border-bottom  : 10px white;
    border-left  : 10px white;
    border-right  : 10px white;
    border-radius: 17px 17px 0px 0px;
    border-top: 2px solid transparent;
    background-color: white;
    border: 3px solid white;
}

.left-border-radius {
    border-radius: 17px 17px 0px 0px;
    padding-top: 1%;
    padding-left: 6%;
}

.black-color {
    color: black;
}

.bold {
    font-weight: 1000;
}

.small {
    font-size: 14px;
}

.d-flex {
    display: flex;
}

.space {
    width: 100%;
    height: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

.padding {
    padding: 15px 0 0 15px;
}

.margin-lodging {
    margin: 0 35px 0 0;
}

.center {
    display: flex;
    justify-content: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

/* 2.1.6 | CONTAINER : MOST POPULARS */

.aside-border-radius {
    border-radius: 17px 0px 0px 17px;
}

.star-padd {
    padding-bottom: 5px;
}

.aside-top {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    margin-left: 6%;
    /* margin-right: 1.6vw; */
    /* border-style: ridge; */
}

.top-h {
    width: 53%;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    margin-top: 25px;
    margin-left: 5%;
    font-size: 22px;
    font-weight: 900;
}

.set-chart-line {
    width: 38%;
    display: flex;
    justify-content: flex-end;
}

.fas.fa-chart-line {
    align-self: center;
    justify-content: center;
    color: black;
    background-color: #F2F2F2;
    font-size: 32px;
    line-height: 2;
}

.top-chart {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    padding-left: 28px;
}

aside {
    width: 30.5%;
    margin-left: 3.5%;
    margin-right: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 0;
    border-radius: 17px 17px 17px 17px;
    background-color: #F2F2F2;
    /* overflow: hidden; */
}

.aside-flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.aside-cards-column {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-end;
    align-items: stretch;
}

.aside-card-self {
    width: 80%;
    height: 20vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 6px 4px 4px;
    border-radius: 14px 14px 14px 14px;
}

.cont-aside-size {
    width: 100%;
}

.in-card-row {
    display: flex;
    flex-flow: row nowrap;
}

.aside-img {
    width: 40%;
    height: 20vh;
    display: flex;
    object-fit: cover;
    object-position: center;
    border: 4px solid white;
    border-radius: 17px 0px 0px 17px;
    background-color: white;
}

.aside-card-txt {
    width: 60%;
    height: 20vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    /* justify-content: flex-end; */
    border-radius: 0px 14px 14px 0px;
}

/* 2 || DESKTOP LAYOUT */
    /* 2.0 SUPER MAIN CONTAINER */

.super-main-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

    /* 2.1 | MAIN CONTAINER */

.main-container {
    width: 90.8%;
    height: 89%;
    margin: 0 4.6%;
    display: flex;
    align-items: stretch;
    flex-flow: column nowrap;
    overflow: hidden;
}

main {
    width: 100%;
    height: 77%;
}

/* 2.1.7 | ACTIVITIES */

.act {
    width: 100%;
    height: 45%;
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    padding: 0 0 5% 2.75%;
}

.title-activities {
    padding-top: 3.5%;
    font-size: 22px;
    font-weight: 900;
    color: black;
}

.act-block-cards {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: stretch;
    background-color: rgb(255, 255, 255);
    gap: 3.1%;
    object-fit: cover;
}

.act-block-cards-portrait {
    width: 100%;
    height: 412px;
}

.act-shadow {
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.35);
    border-radius: 5% 5% 5% 5%;
}

.figc-size-cont {
    display: flex;
    height: 5vh;
    flex-direction: row;
    align-items: center;
    margin-left: 7%;
    /* border-style: ridge; */
}

.act-pointer {
    cursor: pointer;
}

.column-in-row {
    width: 22.1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3vw;
    /* border-style: ridge; */
}

.act-quarter {
    width: 22.1%;
}

.alone-in-row {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 10px solid white;
    border-radius: 17px 17px 0px 0px;
    background-color: white;
    border: 3px solid white;
    /* border-style: ridge; */
}

#twin-in-row-one {
    display: block;
    width: 100%;
    height: 29vh;
    object-fit: cover;
    object-position: center;
    border: 10px solid white;
    border-radius: 17px 17px 0px 0px;
    background-color: white;
    border: 3px solid white;
}

#twin-in-row-two {
    display: block;
    width: 100%;
    height: 14.5vh;
    object-fit: cover;
    object-position: center;
    border: 10px solid white;
    border-radius: 17px 17px 0px 0px;
    background-color: white;
    border: 3px solid white;
}

#twin-in-row-three {
    display: block;
    width: 100%;
    height: 20vh;
    object-fit: cover;
    object-position: center;
    border: 10px solid white;
    border-radius: 17px 17px 0px 0px;
    background-color: white;
    border: 3px solid white;
}

#twin-in-row-forth {
    display: block;
    width: 100%;
    height: 22vh;
    object-fit: cover;
    object-position: center;
    border: 10px solid white;
    border-radius: 17px 17px 0px 0px;

    background-color: white;
    border: 3px solid white;
}

.border-one {
    border-left-width: 0;
    border-right-width: 0;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    padding: 1%;
}

.border-two {
    border-radius: 0px 30px 30px 0px;
}

/* 2.2 | SECONDARY CONTAINER */

.secondary-container {
        width: 100%;
        height: 11%;
        display: flex;
        align-items: stretch;
        overflow: hidden;
        margin: 0;
}

/* 2.2.1 | FOOTER */

footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    background-color: #F2F2F2;
    padding-top: 2%;
    padding-left: 5%;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-font {
    font-size: 16px;
    font-weight: 400;
}

.footer-nowrap {
    white-space: nowrap;
}

.footer-pad {
    padding-top: 30px;
    padding-right: 28%;
    padding-bottom: 15px;
    padding-left: 0;
    font-size: 18px;
    font-weight: 1000;
    /* border-style: ridge; */
}

footer a:hover{
    color: #0065fc;
}

/* 3 || MEDIA QUERIES SPECIFIC RULES*/
    
    /* 3.1 | MOBILE MEDIA QUERY */
    /* Cf: mob.css */
    
    /* 3.2 | TABLET MEDIA QUERY */
    /* Cf: tab.css */