/* INDEX

1 || GLOBAL SETTINGS
    1.1 | GENERAL PAGE LAYOUT
    1.2 | ANIMATIONS
    1.3 | STARS PROPERTIES

2 || DESKTOP LAYOUT
    2.1 | MAIN CONTAINER
        2.1.1 | HEADING  : NAVIGATION MENU
        2.1.2 | HEADING : SLOGAN
        2.1.3 | HEADING : SEARCH
        2.1.4 | HEADING : FILTERS
        2.1.5 | HEADING : INFORMATIONS
        2.1.6 | MAIN : LODGING
        2.1.7 | MAIN : MOST POPULARS
        2.1.8 | MAIN : ACTIVITIES
    2.2 | SECONDARY CONTAINER
        2.2.1 | FOOTER

3 || MEDIA QUERIES SPECIFIC RULES
    3.1 | TABLET MEDIA QUERY
    3.2 | MOBILE MEDIA QUERY


Tip: you can jump to a specific section by searching for index name or id. ex : [CTRL + F] "3 ||" or [CTRL + F] "2.1.5 |"

*/

/* 1 || GLOBAL SETTINGS */

/* 1.1 | GENERAL PAGE LAYOUT */

html {
  width: 100%;
  height: 250%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: flex;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", Arial, "Arial Black", Courier New, Helvetica,
    sans-serif;
  font-size: 100%;
}

/* And Cf: normalize.css */

/* ( Not all the ) Alphabetic semantic tags */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #0065fc;
}

article {
  display: flex;
  align-items: flex-end;
  background-color: white;
}

article,
details,
hgroup,
menu {
  display: flex;
  margin: 0;
  padding: 0;
  display: block;
  flex-direction: column;
}

b {
  font-weight: bold;
}

blockquote,
q {
  margin: 0;
  padding: 0;
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  margin: 0;
  padding: 0;
  content: "";
  content: none;
}

button {
  margin: 0;
  padding: 0;
  background-color: #0065fc;
}

div,
section,
header {
  text-decoration: none;
}

form,
input {
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: none;
}

header {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: white;
}

image {
  width: 20%;
  height: 20%;
  object-fit: cover;
}

li {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

ol {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 15px;
  gap: 15px;
  list-style-type: none;
}

p::first-letter {
  font-style: unset;
}

section {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 15px;
  gap: 15px;
  list-style-type: none;
}

/* 1.4 | STARS PROPERTIES */

.fas.fa-star.blue-star {
  display: inline-block;
  height: 22px;
  color: #0065fc;
  font-size: 12px;
}

.fas.fa-star.grey-star {
  display: inline-block;
  height: 22px;
  color: grey;
  font-size: 12px;
}

/* 1.2 | CARD DESIGN */
/* /_\ work in progress /_\ */

/* 1.3 | CARD SHADOW ANIMATION */
/* /_\work in progress /_\ */

/* 2.1.1 | HEADER  : NAVIGATION MENU */

.heading {
  width: 100%;
  height: 25%;
  padding-left: 0.8%;
}

.logo-and-links {
  width: 100%;
  height: 22%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.logo {
  padding: 20px 20px 20px 0;
}

/* LINKS */

.nav-size-pos {
  display: flex;
  flex-flow: row nowrap;
}

nav ul {
  display: flex;
  list-style-type: none;
}

.ul-links {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  align-content: flex-end;
}

.link {
  text-align: center;
  padding: 40px 15px 15px 15px;
  border-top: 2px solid #fff;
}

.link:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

.normal-link {
  font-weight: normal;
}

/* 2.1.2 | SECTION : SLOGAN */

.text-only {
  width: 100%;
  height: 26%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  background-color: white;
}

h1 {
  font-weight: 700;
  font-size: 26px;
  padding: 25px 0;
}

h2 {
  padding: 0 0 10px 0;
  font-size: 16px;
  font-weight: 500;
}

/* 2.1.3 | SECTION : SEARCH */

.search {
  width: 100%;
  height: 14.5%;
  background-color: white;
  display: flex;
  flex-direction: row;
}

/* Icone and input */

.map-marker-radius {
  width: 50px;
  height: 50px;
  display: flex;
  background-color: #f2f2f2;
  border: 3px solid;
  border-color: #f2f2f2;
  border-radius: 17px 0 0 17px;
}

.fas.fa-map-marker-alt {
  width: 50px;
  height: 50px;
  display: flex;
  align-self: center;
  justify-content: center;
  font-weight: 900;
  background-color: #f2f2f2;
  border: 3px solid;
  border-color: #f2f2f2;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}

.span-center {
  display: flex;
  align-items: center;
  justify-items: center;
}

input[type="search"] {
  color: black;
  font-size: 16px;
  font-weight: 800;
}

#search-click {
  width: 150px;
  height: 50px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 3;
  justify-content: center;
}

.search-border-mobile {
  display: none;
}

.search-border {
  border: 1px solid #0065fc;
  border-radius: 0 17px 17px 0;
}

.flex-a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#site-search {
  margin: 0;
  width: 250px;
  height: 50px;
}

/* Search Blue button */

#search-click {
  width: 150px;
  height: 48px;
}

#search-click-mobile {
  width: 50px;
  height: 48px;
  display: none;
}

.search-button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #0065fc;
  border: 1px solid #0065fc;
  border-radius: 0 17px 17px 0;
  cursor: pointer;
}

/* 2.1.4 FILTERS AND INFORMATIONS*/

/* 2.1.4.1 FILTERS */

.filters-flex-position {
  width: 100%;
  height: 18%;
  display: flex;
  flex-flow: row nowrap;
  padding: 1.1% 0 1.1% 0;
  gap: 1%;
}

.filters-text {
  align-content: center;
  white-space: nowrap;
  font-weight: bold;
  font-size: 20px;
  padding: 16px 14px;
  color: black;
}

.filters-word {
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border: 3px solid;
  border-color: #fff;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
}

.rounded-filters {
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border: 3px solid;
  border-color: #f2f2f2;
  border-radius: 30px;
  font-size: x-large;
  cursor: pointer;
}

.rounded-filters:hover {
  background-color: #f2f2f2;
}

.fas.fa-money-bill-wave {
  width: 50px;
  height: 50px;
  display: flex;
  align-self: center;
  justify-content: center;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  margin-left: -8px;
  line-height: 2;
}

.fas.fa-child {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  margin-left: -8px;
  line-height: 2;
}

.fas.fa-heart {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  margin-left: -6px;
  line-height: 2;
}

.fas.fa-dog {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  margin-left: -7px;
  line-height: 2;
}

/* 2.1.4.2 INFORMATIONS */

.informations {
  width: 100%;
  height: 14.5%;
  display: flex;
  align-items: stretch;
  flex-flow: row nowrap;
  background-color: white;
  padding: 1.1% 0 1.1% 0;
}

.info-size {
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
}

.fas.fa-info {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065fc;
  font-size: 16px;
}

.info-text {
  line-height: 1.8;
  font-weight: 500;
  padding-left: 10px;
}
/* 2.1.6 TO 2.1.8 | CONTAINER : MAIN => LODGING CONTAINER & MOST POPULARS + ACTIVITIES*/

main {
  width: 100%;
  height: 75%;
}

/* 2.1.6 TO 2.1.7 | CONTAINER : LODGING CONTAINER & MOST POPULARS */

.lodg-and-pop {
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  background-color: rgb(255, 255, 255);
}

/* 2.1.6 | MAIN : LODGING */

.lodg {
  width: 66%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  background-color: #f2f2f2;
  border-radius: 17px 17px 17px 17px;
  overflow: hidden;
}

.six-cards-center {
  width: 100%;
  height: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.lodg-anchor {
  width: 100%;
  height: 100%;
  display: block;
  border: 10px white;
  border-radius: 17px 17px 0 0;
  background-color: white;
}

.lodg-anchor:hover {
  background-color: #f2f2f2;
  border-radius: 10%;
  border: 5px solid #f2f2f2;
}

.full-size {
  width: 100%;
  height: 100%;
}

.higher-size {
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.fig-width {
  width: 27%;
  aspect-ratio: 4/3;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  box-shadow: 8px 8px 8px grey;
  border-radius: 19px;
  border: 3px solid white;
  box-sizing: border-box;
  background-color: white;
  margin: 2.25%;
  gap: 1vw;
  overflow: hidden;
}

.lodg-text-over {
  width: 100%;
  height: 7.5%;
  display: flex;
  align-items: flex-end;
  background-color: #f2f2f2;
}

.lodg-text-under {
  width: 100%;
  height: 7.5%;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

.medium-text {
  margin-left: 5%;
  font-size: 22px;
  font-weight: 700;
}

#little-text {
  padding-left: 5.5%;
  font-size: 16px;
  font-weight: 700;
}

.cont-img {
  width: 100%;
  overflow: hidden;
}

.lodg-img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
  /* object-position: center; */
  border: 10px white;
  border-radius: 17px 17px 0px 0px;
  /* border-top: 2px solid transparent; */
  /* background-color: white; */
  border: 3px solid white;
}

.left-border-radius {
  border-radius: 17px 17px 0px 0px;
  padding-top: 2%;
  padding-left: 6%;
}

.black-color {
  color: black;
}

.bold {
  font-weight: 700;
}

.small {
  font-size: 14px;
}

.d-flex {
  display: flex;
}

.space {
  width: 100%;
  height: 40%;
  display: flex;
  flex-flow: column nowrap;
}

.padding {
  padding: 15px 0 0 15px;
}

.margin-lodging {
  margin: 0 35px 0 0;
}

.center {
  display: flex;
  justify-content: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

/* 2.1.6 | CONTAINER : MOST POPULARS */

.aside-border-radius {
  border-radius: 17px 0px 0px 17px;
  padding-bottom: 4.5%;
}

.aside-top {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  margin-left: 6%;
  /* margin-right: 1.6vw; */
  /* border-style: ridge; */
}

.top-h {
  width: 53%;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  margin-top: 25px;
  margin-left: 5%;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -1.2px;
}

.set-chart-line {
  width: 38%;
  display: flex;
  justify-content: flex-end;
}

.fas.fa-chart-line {
  align-self: center;
  justify-content: center;
  color: black;
  background-color: #f2f2f2;
  font-size: 32px;
  line-height: 2;
}

.top-chart {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  padding-left: 28px;
}

aside {
  width: 30.5%;
  height: 100%;
  margin-left: 3.5%;
  margin-right: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  border-radius: 17px 17px 17px 17px;
  background-color: #f2f2f2;
  overflow: hidden;
}

.aside-size {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
}

.aside-cards-column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-end;
  align-items: stretch;
}

.aside-card-self {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 6px 4px 4px;
  border-radius: 14px 14px 14px 14px;
}

.cont-aside-size {
  width: 100%;
  height: 100%;
}

.cont-aside-size:hover {
  background-color: #f2f2f2;
}

.in-card-row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.aside-lower-size {
  width: 40%;
  height: 100%;
}

.aside-img {
  width: 40%;
  height: 20vh;
  display: flex;
  object-fit: cover;
  border: 4px solid white;
  border-radius: 13px 0px 0px 13px;
  background-color: white;
}

.aside-card-txt {
  width: 60%;
  height: 20vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0px 14px 14px 0px;
}

/* 2 || DESKTOP LAYOUT */

/* Set flex reusable */

.flex {
  display: flex;
  /* background-color: aqua; */
}

.flex-r-nw {
  display: flex;
  flex-flow: row nowrap;
  /* background-color: red; */
}

.flex-r-w {
  display: flex;
  flex-flow: row wrap;
  /* background-color: violet; */
}

.flex-c-nw {
  display: flex;
  flex-flow: column nowrap;
  /* background-color: green; */
}
.flex-c-w {
  display: flex;
  flex-flow: column wrap;
  /* background-color: khaki; */
}

.stretch {
  display: flex;
  align-items: stretch;
}

/* 2.0 SUPER MAIN CONTAINER */

.super-main-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

/* 2.1 | MAIN CONTAINER */

.main-container {
  width: 90.8%;
  height: 89%;
  margin: 0 4.6%;
  display: flex;
  align-items: stretch;
  flex-flow: column nowrap;
  overflow: hidden;
}

/* 2.1.7 | ACTIVITIES */

.act {
  width: 100%;
  height: 45%;
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  background-color: rgb(255, 255, 255);
  /* overflow: hidden; */
  padding: 0 0 5% 0;
}

.title-activities {
  padding: 5% 0 2% 0;
  font-size: 22px;
  font-weight: 700;
  color: black;
}

/* FOR ALL THE ACTIVITY CARDS */

.act-block-cards {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: stretch;
  background-color: rgb(255, 255, 255);
  gap: 3.1%;
}

/* FOR THE TWO ACTIVITY CARDS IN PORTRAIT */

.act-block-cards-portrait {
  width: 100%;
  height: calc(100% - 50px);
}

.act-shadow {
  box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.35);
  border-radius: 10% 10% 5% 5%;
}

.act-shadow:hover {
  background-color: #f2f2f2;
}

.figc-size-cont {
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  margin-left: 7%;
}

.pointer {
  cursor: pointer;
}

#act-size-first {
  height: 60%;
}

#act-size-second {
  height: 30%;
}

#act-size-third {
  height: 43%;
}

#act-size-forth {
  height: 47%;
}

.column-in-row {
  width: 22.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10%;
}

.act-quarter {
  width: 22.5%;
  height: 100%;
}

.act-quarter a {
  height: 100%;
}

.act-quarter a figure {
  height: 100%;
}

.act-shadow a {
  height: 100%;
}

.act-shadow a figure {
  height: 100%;
}

.act-block-card-adapt {
  width: 100%;
  height: calc(100% - 50px);
}

.alone-in-row {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 17px 17px 0px 0px;
  background-color: white;
}

#twin-in-row-first {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 17px 17px 0px 0px;
  background-color: white;
}

#twin-in-row-second {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 17px 17px 0px 0px;
  background-color: white;
}

#twin-in-row-third {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 17px 17px 0px 0px;
  background-color: white;
}

#twin-in-row-forth {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 17px 17px 0px 0px;
  background-color: white;
}

.input-size {
  border-left-width: 0;
  border-right-width: 0;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  padding: 1%;
}

.border-two {
  border-radius: 0px 30px 30px 0px;
}

/* 2.2 | SECONDARY CONTAINER */

.secondary-container {
  width: 100%;
  height: 11%;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  margin: 0;
}

/* 2.2.1 | FOOTER */

footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  background-color: #f2f2f2;
  padding-top: 2%;
  padding-left: 5%;
}

.footer-font {
  font-size: 16px;
  font-weight: 400;
}

.footer-nowrap {
  white-space: nowrap;
}

.footer-pad {
  padding-top: 30px;
  padding-right: 28%;
  padding-bottom: 15px;
  padding-left: 0;
  font-size: 18px;
  font-weight: 700;
  /* border-style: ridge; */
}

footer a:hover {
  color: #0065fc;
}

/* 3 || MEDIA QUERIES SPECIFIC RULES*/

/* 3.1 | MOBILE MEDIA QUERY */
/* Cf: mob.css */

/* 3.2 | TABLET MEDIA QUERY */
/* Cf: tab.css */
