

/* 3.2 | TABLET MEDIA QUERY */

@media screen and (max-width: 992px) {
  /* Règles tablettes */

  body { width: auto;
  }

  .central-section {
      max-width: 95%;
      display: flex;
      align-items: stretch;
      flex-flow: column-reverse nowrap;
  }
  aside {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
  }
  .sixth {
      margin: auto;
  }
  .medium-text {
      /* margin: auto;
      font-size: 16px; */
  }
  .sixth {
      text-align: center;
  }
  .medium-text {
      text-align: center;
      font-size: 16px;
  }

  #little-text {
      font-size: 14px;
      font-weight: 700;
  }

  .act-block-cards {
  }