@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
	font-size: 100%;
    font-family: 'Raleway', Arial , "Arial Black" , Courier New, Helvetica, sans-serif;
    /*border-style: ridge;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:active {
    color: coral;
}

article {
    display: flex;
    align-items: flex-end;
    /* flex-direction: column; */
    background-color: white;
}

article, details, hgroup, menu {
    display: flex;
    margin: 0;
	padding: 0;
	display: block;
    flex-direction: column;

}



b {
    font-weight: bold;
}

blockquote, q {
    margin: 0;
	padding: 0;
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    margin: 0;
	padding: 0;
	content: '';
	content: none;
}

body{
    width: 100%;
    max-width: 1440px;
	line-height: 1;
    display:flex;
    background-color: white;
    }

button {
    margin: 0;
	padding: 0;
    background-color:#0065fc;
}

div, section, header {
    /* display: flex; */
    text-decoration: none;
}

footer {
    width: 100%;
    max-width: 1440px;
    margin: 0;
	padding: 0;
    display: flex;
    flex-direction: row;
    align-items: end;
}


footer a:hover{
    color: teal;
    /*#DEEBFF*/
}

form, input {
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
    line-height: 0;
}


h1 {
    font-weight: bold;
    /*border-style: ridge;*/
}
/* Conflit h2 et text-only */
h2 {
    font-weight: bold;
    /*border-style: ridge;*/
}

h3 {
    font-weight: bold;
    /*border-style: ridge;*/

}

header {
    width: 100%;
    max-width: 1440px;
    margin: 0;
	padding: 0;
    display: flex;
    /* flex-direction: column; */
    background-color: white;
}

/*1st header*/

.logo-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    background-color: white;
    /* align-items: baseline; */
}

/* Logo Booki */

.logo {
    float: left;
    flex-grow: 1;
    flex-basis: auto;
    width: 45%;
}

/* Liens */

nav {
    width: 20%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    top: 0px;
}

nav ul{
    list-style-type: none;
    display: flex;
    border-style: none;
}

nav ul li {
    float: left;
    display: flex;
    text-align: center;
    border-style: none;
}

.ul-links {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    align-content: flex-end;
}

/*.link {
    width: auto;
    margin: 15%;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}*/

.normal-link {
    font-weight: bold;
}
.normal-link:hover {
    color: turquoise;
}

/* 2nd header Text*/
/* conflit h1 */
.text-only {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
}
h1 {
    font-weight: 900;
    padding: 10px;
    font-size: 155%;
    /*border-style: ridge;*/
}

h2 {
    font-weight: normal;
    padding: 10px;
    font-size: 100%;
    /*border-style: ridge;*/
}

/* Icone and input */

.search {
    width: 100%;
    height: 50px;
    background-color: white;
    /* height: 7.2vh; */
    display: flex;
    flex-direction: row;
    /* border-style: ridge; */
}

#form {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    /* border-style: ridge; */
}

.map-marker-radius {
    width: 4%;
    height: 50px;
    display: flex;
    background-color: #F2F2F2;
    border: 3px solid;
    border-color: #F2F2F2;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    /* border-style: ridge; */
}

.fas.fa-map-marker-alt{
    width: 100%;
    height: 50px;
    display: flex;
    align-self: center;
    justify-content: center;
    font-weight: 900;
    background-position-x: center;
    background-position-y: center;
    background-size: initial;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #F2F2F2;
    border: 3px solid;
    border-color: #F2F2F2;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    /* border-style: ridge; */
}

.span-center {
    display: flex;
    align-items: center;
}

.flex-a {
    display: flex;
}

input[type="submit"] {
    color: white;
    justify-content: center;
}

#site-search {
    margin: 0;
    width: 250px;
    height: 50px;
    /* border-color: white; */
    /* border-style: ridge; */
}

#search-click {
    margin: 0;
    width: 150px;
    height: 50px;
    background: #0065fc;
    border: 3px solid;
    border-color: #0065fc;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    /* border-style: ridge; */
}

/*4th header Filters and Informations*/

.filters {
    /*max-height: 4%;
    min-height: 2%;*/
    width: 68%;
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.real-filters {
    width: 220px;
    height: 100%;
    /*display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;*/
    align-items: baseline;
    font-size: x-large;
}

.different-filters{
    display: block;
    white-space: nowrap;

}

.rounded-filters {
    /*max-height: 4%;
    min-height: 2%;*/
    width: 300px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
    border: 3px solid;
    border-color: grey;
    border-radius: 30px;
    font-size: x-large;
    cursor: pointer;
}

.justify {
    /*comment ne pas faire aller le texte à la ligne?*/
    display: flex;
    flex-wrap: nowrap;
}

.blue {
    color: #0065fc;
}

.informations {
    max-height: 4%;
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    /*border-style: ridge;*/
}

.line-height {
    line-height: 0;
}
/*Main*/

.main {
    width: 100%;
    height: 30%;
}

.central-section {
    max-width: 100%;
    max-height: 650px;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    
}

.left-center{
    width: 65%;
    height: 600px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: silver;
    border-radius: 17px 17px 17px 17px;;
    overflow: hidden;
    margin-top: 3%;
    margin-left: 3%;
}

.photo-left-center {
    width: 100%;
    height: 100%;
    display: block;
    border-top  : 10px white;
    border-bottom  : 10px white;
    border-left  : 10px white;
    border-right  : 10px white;
    border-radius: 17px 17px 0 0;
    border-top: 2px solid transparent;
    background-color: white;
    background-size: 300px;
}

.fig-width {
    max-width: 245px;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 1vw;
    box-shadow: 8px 8px 8px grey;
    border-radius: 17px 17px 17px 17px;
    border: 3px solid white;
    box-sizing: border-box;
    background-color: white;
    margin: 2.5%;
    overflow: hidden;
}

.fig-cap-bottom {
    /* max-width: 254px; */
    /* width:100%; */
    /* height: 146px; */

}

.sixth {
    width: 100%;
    background-color: silver;
    /* border-style: ridge; */
}

.cont-img {
    width: 100%;
    overflow: hidden;
}
.heb-marseille-img {
    /*background-size: 100%;*/
    display: block;
    width: 100%;
    height: 18vh;
    object-fit: cover;
    object-position: center;
    /*background-size: 300px;*/
    border-top  : 10px white;
    border-bottom  : 10px white;
    border-left  : 10px white;
    border-right  : 10px white;
    border-radius: 17px 17px 0px 0px;
    border-top: 2px solid transparent;
    background-color: white;
    border: 3px solid white;
}

.left-border-radius {
    border-radius: 17px 17px 0px 0px;
    margin-left: 6%;
    margin-top: 3%;
}

.fas.fa-star.blue-star {
    display: inline-block;
    width:  30px;
    height: 30px;
    color: #0065fc;
    background-position-x: center;
    background-position-y: center;
    background-size: initial;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: white;
}

.fas.fa-star.grey-star {
    display: inline-block;
    width:  30px;
    height: 30px;
    color: grey;
    background-position-x: center;
    background-position-y: center;
    background-size: initial;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: white;
}

.aside-border-radius {
    border-radius: 17px 0px 0px 17px;
}


.cont-aside-click {
    width: 100%;
    /* border-style: ridge; */
}

.in-card-row {
    display: flex;
    flex-flow: row nowrap;
}

.les-plus-pop-top {
    width: 83%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    margin-left: 1.9vw;
    margin-right: 1.6vw;
    /* border-style: ridge; */
}

.top-h {
    width: 60%;
    display: flex;
    flex-direction: row;
    /* border-style: ridge; */
}

.set-chart-line {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    /* border-style: ridge; */
}

.fas.fa-chart-line {
    display: inline-block;
    width:  30px;
    height: 30px;
    color: black;
    background-position-x: center;
    background-position-y: center;
    background-size: initial;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: silver;
}

.top-span {
    width: 50%;
    height: 100%;
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    /* border-style: ridge; */
}

.les-plus-pop-img {
    display: block;
    /* width: 100%; */
    width: 40%;
    height: 20vh;
    object-fit: cover;
    object-position: center;
    background-color: white;
    border: 4px solid white;
    border-radius: 17px 0px 0px 17px;
    /* border-style: ridge; */
}
aside {
    width: 33.3%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 17px 17px 17px 17px;
    background-color: silver;
    /* border-style: ridge; */

}

.aside-cards-column {
    width: 100%;
    height: 90%;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-end;
    /* border-style: ridge; */

}

.aside-card-self {
    width: 80%;
    max-width: 1440px;
    height: 20vh;
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row; 
    margin-left: 2.65vw;
    margin-right: 2.65vw;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 6px 4px 4px;
    border-radius: 14px 14px 14px 14px;
    /* border-style: ridge; */

}

.aside-card-a {
    padding: 46px 22px 14px 0px;
    border-top: 2px solid transparent;
    /* border-style: ridge; */

}

.aside-card-txt {
    width: 60%;
    height: 20vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    justify-content: right;
    border-radius: 0px 14px 14px 0px;
    /* border-style: ridge; */

}

/* Remaining Alphabetic Semantic tags */

button:hover{

}

image {
    width: 20%;
    height: 20%;
    object-fit: cover;
}


li {
    margin: 0;
	padding: 0;
    display: flex;
    grid-gap: 15px;
    gap: 15px;
	list-style-type: none;
}

ol {
    margin: 0;
	padding: 0;
    display: flex;
    grid-gap: 15px;
    gap: 15px;
	list-style-type: none;
}

p::first-letter{
    font-style: unset;
}

section {
    width: 100%;
    max-width: 1440px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

span {
    /*border-style: ridge;*/
}

ul {
    margin: 0;
	padding: 0;
    display: flex;
    grid-gap: 15px;
    gap: 15px;
	list-style-type: none;
}

.test div > p + div{
    -moz-text-decoration-style: dotted;
}

.googlemap{
    content: "";
    display: inline-block;
    width:  30px;
    height: 30px;
    color: #0065fc;
    background:       url(Ressources+Booki+FR/images/icon/resize_icon_location.png);
    background-image: url(Ressources+Booki+FR/images/icon/resize_icon_location.png);
    background-position-x: center;
    background-position-y: center;
    background-size: initial;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: silver;
}

.main-container {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
}

/* Block activities*/

.activities {
    display: flex;
    width: 100%;
    max-width: 1440px;
    max-height: 33%;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-style: ridge;
}

.title-activities {
    font-size: 1.4vh;
    /* border-style: ridge; */
}

.activities-block-cards {
    display: flex;
    width: 100%;
    max-width: 1440px;
    max-height: 32%;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    gap: 3vw;
    border-style: ridge;
}

.column-in-row {
    display: flex;
    flex-direction: column;
    border-style: ridge;
}

.row {
    flex-direction: row;
    border-style: ridge;
}

.column {
    flex-direction: column;
    border-style: ridge;
}

.alone-in-row {
    /*background-size: 100%;*/
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    /*background-size: 300px;*/
    border-top  : 10px white;
    border-bottom  : 10px white;
    border-left  : 10px white;
    border-right  : 10px white;
    border-radius: 17px 17px 0px 0px;
    border-top: 2px solid transparent;
    background-color: white;
    border: 3px solid white;
}

.twin-in-row {
    /*background-size: 100%;*/
    display: block;
    width: 100%;
    height: 146px;
    object-fit: cover;
    object-position: center;
    /*background-size: 300px;*/
    border-top  : 10px white;
    border-bottom  : 10px white;
    border-left  : 10px white;
    border-right  : 10px white;
    border-radius: 17px 17px 0px 0px;
    border-top: 2px solid transparent;
    background-color: white;
    border: 3px solid white;
}
/*Name somes cards... border: white; overflow: hidden;  ?? */
.photo-block-down {
    /* width: 100%; */
    /* height: 100%; */
    border-top  : 10px white;
    border-bottom  : 10px white;
    border-left  : 10px white;
    border-right  : 10px white;
    border-radius: 40px;
    box-shadow: 8px 8px 8px grey;
    /* padding: 46px 22px 14px 0px; */
    border-top: 2px solid transparent;
    object-fit: cover;
}

.border-one {
    border-left-width: 0;
    border-right-width: 0;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    padding: 1%;
}

.border-two {
    border-radius: 0px 30px 30px 0px;
}

#form-container a {

}

/* Il me faut un @viewport dans mon CSS */

@media screen and (max-width: 767px) {
    /*Règles mobiles*/
    body {
        width: auto;
    }
}

@media screen and (max-width: 991px) {
    /*Règles tablettes*/
    body {
        width: auto;
    }
}

@media screen and (max-width: 1399px) {
    /*Règles desktop*/
    body {
        width: auto;
    }
}
