@font-face {
    font-family: 'railwayregularalternate';
    src: url('RailwayAlternate-webfont.eot');
    src: url('RailwayAlternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('RailwayAlternate-webfont.woff2') format('woff2'),
         url('RailwayAlternate-webfont.woff') format('woff'),
         url('RailwayAlternate-webfont.ttf') format('truetype'),
         url('RailwayAlternate-webfont.svg#railwayregularalternate') format('svg');
    font-weight: normal;
    font-style: normal;

}

